body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.tab {
    padding: 10px;
    flex-grow: 1;
    border: none;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab:hover {
    background-color: #e0e0e0;
}

.tab.active {
    background-color: #3498db;
    color: #fff;
}

.form {
    display: none;
    flex-direction: column;
}

.form.active {
    display: flex;
}

h2 {
    text-align: center;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    color: #555;
}

input,
select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.btn {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #2980b9;
}
