* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

footer {
  background-color: #111;
}

.footerContainer {
  width: 100%;
  padding: 40px 30px 0px;
}

.socialIcons {
  display: flex;
  justify-content: center;
}

.socialIcons a {
  text-decoration: none;
  padding: 2px 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}


.socialIcons a i {
  font-size: 2em;
  color: black;
  opacity: 0, 9;
}


.socialIcons a:hover {
  background-color: #111;
  transition: 0.5s;
}

.socialIcons a:hover i {
  color: white;
  transition: 0.2s;
}

.footerNav {
  margin: 30px 0;
}

.footerNav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-right: 40px;
}

.footerNav ul li a {
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 20px;
  opacity: 0.7;
  transition: 0.2s;

}

.footerNav ul li a:hover {
  opacity: 1;
}

.footerBottom {
  background-color: #000;
  padding: 20px;
  text-align: center;
}

.footerBottom p {
  margin-right: -20px;
  color: white;
}

.designer {
  text-decoration: none;
  opacity: 0.8;
  text-transform: uppercase;
  color: #d1a0ff;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
  transition: 0.2s ease;
}

.designer:hover {
  opacity: 1;
}

@media (max-width: 700px) {
  .footerNav ul {
    flex-direction: column;
  }

  .footerNav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }

}